.contact {
  /* display: flex; */
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 3rem auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.contact li {
  font-size: 1.1rem;
  color: #333;
}

.contact a {
  color: #0077b6;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}
.email{
  font-size: 1rem;
  text-decoration: none;
  color:#333;
  transition: color 0.3s ease;
}

.email a:hover {
  color: #00bcd4;
}

.contact a:hover {
  color: #023e8a;
  text-decoration: underline;
}

@media (max-width: 480px) {
  .contact {
    padding: 1.2rem;
  }

  .contact li {
    font-size: 1rem;
  }
}
.icons{
  display: flex;
  justify-content: space-between;
}
.icon{
  font-size: xx-large;
  color: purple;
}

.intro {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #333;
  text-align: center;
  margin: 2rem auto;
  max-width: 700px;
}


.intro a {
  color: #5a189a;
  text-decoration: none;
  font-weight: 500;
}

.intro a:hover {
  color: #9d4edd;
}

@media (max-width:700px){
  .contact{
    margin:4rem auto;
  }
}