.nav>ul{
    background-color: #1e1e2f;
    height: 100vh;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: .75rem 2rem;
    text-align: center;
    margin: 0;
    top:0;
    left:0;
    color: rgb(51, 36, 9);
    font-size: x-large;
    font-weight: bolder;
    position: fixed;
    box-shadow: 2px 0 8px rgba(0,0,0,0.1);
}
.nav{
    background-color: rgb(32, 32, 32);
    padding: 0  ;
    top:0;
}

@media (max-width: 700px) {
  .nav > ul {
    position: static;
    width: 100vw;
    position: fixed;
    height: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    font-size: medium;
    box-shadow: none;
  }

  .nav {
    background-color: #1e1e2f;
    width: 100%;
  }

  .nav > ul li {
    margin: 0 0.5rem;
  }
}

