html,body{
    background-color: linear-gradient(135deg, #5f0a3e, #ca66c5);
}
#root {
 width: 100vw;
 margin: 0;
 padding: 0;
 min-height: 100vh;
 background-color: linear-gradient(135deg, #5f0a3e, #ca66c5);
}

.mainContent{
    margin-top: 80px;
    background-color: linear-gradient(135deg, #5f0a3e, #ca66c5);
}


